{% extends 'core/base.html' %}
{% block content %}
    <h1>{{ user.username }}'s profile</h1>
    <p><a href="{% url 'edit' %}">Edit Profile</a></p>
    <br>
    <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" width="250" height="250">    
    <br>
    <p>Bio: {{ user.profile.bio }}</p>
    <br>
    <p>Date of Birth: {{ user.profile.date_of_birth }}</p>
    <p><a href="{% url 'createpost' %}">Create Post</a></p>
    {% for post in posts %}
        {% if user == post.user %}
            <p>{{ post.content }}</p>
            <p>Posted by {{ post.user.username }} on {{ post.created_at }}</p>
            <a href="{% url 'deletepost' post.id %}">Delete Post</a>
        {% endif %}
    {% endfor %}
{% endblock %}